#TotalGoldText,
#TotalLumberText,
#TotalFoodText,
{
	width: 125px;
	height: 30px;
  	line-height: 25px;

  	border-style: solid;
    border-right-width: 10px;

	font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #000000;

    border-radius: 6px;

	text-transform: uppercase;

	text-align: right;
}

#TotalLumberText.hide,
#TotalFoodText.hide 
{
	visibility: collapse;
}

/* Abilities */

.AbilitiesRoot
{
	width: 480px;
	height: 120px;

	horizontal-align: center;
	vertical-align: bottom;

	margin-left: 320px;
}

/* 		Flipped HUD 		*/
.flip.AbilitiesRoot
{
	margin-left: 530px;
}

.AspectRatio4x3 .flip.AbilitiesRoot
{
	margin-left: 430px;
}

.AspectRatio5x4 .flip.AbilitiesRoot
{
	margin-left: 460px;
}

.AspectRatio16x10 .flip.AbilitiesRoot
{
	margin-left: 570px;
}

#AbilityList
{
	margin-bottom: 15px;
	margin-left: 15px;

	flow-children: right;
	background-color: transparent;
}

.AbilityPanel
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#AbilityButton
{
	width: 72px;
	height: 72px;

	box-shadow: inset #cccccc40 -2px -2px 2px 0px;
	border: 2px solid #000000;
}

.AspectRatio4x3 #AbilityButton,
.AspectRatio16x10 #AbilityButton
{
	width: 69px;
	height: 69px;
	border: 1px solid transparent;
}

.AspectRatio5x4 #AbilityButton
{
	width: 61px;
	height: 61px;
	border: 1px solid transparent;
}

.is_passive #AbilityButton
{
	box-shadow: inset #00000040 2px 2px 2px 0px;
	border: 2px solid #00000000;
}

#UpgradeBorder
{
	background-color: transparent;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 1;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 3px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 2px solid orange;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 2px solid green;
}

.AspectRatio4x3 .auto_cast_enabled #AbilityStatusBorder,
.AspectRatio5x4 .auto_cast_enabled #AbilityStatusBorder
{
	border: 2px solid orange;
}

.AspectRatio4x3 .toggle_enabled #AbilityStatusBorder,
.AspectRatio5x4 .toggle_enabled #AbilityStatusBorder
{
	border: 2px solid green;
}

#AbilityLevelContainer
{
	width: 100%;
	horizontal-align: center;
	z-index: 0.6;
	vertical-align: bottom;
}

#AbilityMaxLevelContainer
{
	width: 100%;
	horizontal-align: center;
	z-index: 0.5;
	vertical-align: bottom;
}

.LevelPanel
{
	width: 100%;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
	visibility: collapse;
}

.active_level.LevelPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00FF00 ), to( #FF0000 ) );
	border: 2px solid #734918;
}

.TotalResources
{
	width: 100%;
}

.LumberBase
{
	flow-children: down;

	horizontal-align: right;
    vertical-align: top;

    margin-top: 50px;
}

.TotalGoldText,
.TotalLumberText,
.TotalFoodText
{
    margin-right: 5px;
}