.AbilityOverlayBase
{
  	width: 1920px;
  	height: 1080px;
}

/* Start of 6-ability layout  */

.Layout6 {
	margin: 972px 0px 0px 935px;
}

.AspectRatio5x4 .Layout6 {
	margin: 980px 0px 0px 636px;
}

.AspectRatio4x3 .Layout6 {
	margin: 974px 0px 0px 681px;
}

.AspectRatio16x10 .Layout6 {
	margin: 974px 0px 0px 830px;
}

/* First ability for 6-ability layout */
.Layout6 .Ability1Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 0px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability1Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 0px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Second ability for 6-ability layout */

.Layout6 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 76px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 76px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}


.AspectRatio5x4 .Layout6 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 71px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout6 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 72px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Third ability for 6-ability layout */

.Layout6 .Ability3Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 152px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 152px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout6 .Ability3Lumber {
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 147px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout6 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 147px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fourth ability for 6-ability layout */

.Layout6 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 228px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 228px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout6 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 213px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout6 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 213px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fifth ability for 6-ability layout */

.Layout6 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 305px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 305px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout6 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 285px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout6 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 285px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Sixth ability for 6-ability layout */

.Layout6 .Ability6Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 380px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout6 .Ability6Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 380px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout6 .Ability6Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 356px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout6 .Ability6Food{
  width: 36px;
  height: 16px;

  margin: 47px 0px 0px 357px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Start of 5-ability layout  */

.Layout5 {
	margin: 972px 0px 0px 945px;
}

.AspectRatio5x4 .Layout5 {
	margin: 980px 0px 0px 647px;
}

.AspectRatio4x3 .Layout5 {
	margin: 972px 0px 0px 692px;
}

.AspectRatio16x10 .Layout5 {
	margin: 974px 0px 0px 841px;
}

/* First ability for 6-ability layout */
.Layout5 .Ability1Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 0px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout5 .Ability1Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 0px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout5 .Ability1Food{
  width: 36px;
  height: 16px;

  margin: 52px 0px 0px 0px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Second ability for 5-ability layout */

.Layout5 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 91px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout5 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 91px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}


.AspectRatio5x4 .Layout5 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 89px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout5 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 52px 0px 0px 89px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Third ability for 5-ability layout */

.Layout5 .Ability3Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 184px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout5 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 184px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout5 .Ability3Lumber {
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 174px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout5 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 52px 0px 0px 174px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fourth ability for 5-ability layout */

.Layout5 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 276px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout5 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 276px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout5 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 259px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout5 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 52px 0px 0px 259px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fifth ability for 5-ability layout */

.Layout5 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 366px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout5 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 366px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout5 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 346px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout5 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 52px 0px 0px 346px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Start of 4-ability layout  */

.Layout4 {
	margin: 964px 0px 0px 971px;
}

.AspectRatio5x4 .Layout4 {
	margin: 971px 0px 0px 671px;
}

.AspectRatio4x3 .Layout4 {
	margin: 964px 0px 0px 718px;
}

.AspectRatio16x10 .Layout4 {
	margin: 964px 0px 0px 869px;
}

/* First ability for 4-ability layout */
.Layout4 .Ability1Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 0px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout4 .Ability1Food{
  width: 36px;
  height: 16px;

  margin: 64px 0px 0px 0px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout4 .Ability1Food{
  width: 36px;
  height: 16px;

  margin: 60px 0px 0px 0px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Second ability for 4-ability layout */

.Layout4 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 105px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout4 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 64px 0px 0px 105px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}


.AspectRatio5x4 .Layout4 .Ability2Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 101px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout4 .Ability2Food{
  width: 36px;
  height: 16px;

  margin: 60px 0px 0px 101px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Third ability for 4-ability layout */

.Layout4 .Ability3Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 211px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout4 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 64px 0px 0px 211px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout4 .Ability3Lumber {
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 199px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout4 .Ability3Food{
  width: 36px;
  height: 16px;

  margin: 60px 0px 0px 199px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fourth ability for 4-ability layout */

.Layout4 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 317px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout4 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 64px 0px 0px 317px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout4 .Ability4Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 299px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout4 .Ability4Food{
  width: 36px;
  height: 16px;

  margin: 60px 0px 0px 299px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Fifth ability for 4-ability layout */

.Layout4 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 366px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.Layout4 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 59px 0px 0px 366px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

.AspectRatio5x4 .Layout4 .Ability5Lumber{
  	width: 36px;
  	height: 16px;

  	margin: 0px 0px 0px 346px;

  	background-color: gradient( linear, 40% 100%, 60% 50%, from( #00552F00 ), to( #00552Fff ) );
}

.AspectRatio5x4 .Layout4 .Ability5Food{
  width: 36px;
  height: 16px;

  margin: 64px 0px 0px 346px;

  background-color: gradient( linear, 50% 10%, 60% 50%, from( #00552F00 ), to( #62311Aff ) );
}

/* Text styles */

.LumberText{
	font-weight: bold;
	color: #EEEB8A;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	horizontal-align: right;
	margin-right: -3px;
	vertical-align: center;
}

.FoodText{
	font-weight: bold;
	color: #EEEB8A;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	horizontal-align: right;
	margin-right: -3px;

	line-height: 16px;
}