@define TotalLength: 70s;
@define TimingFunc: linear;
@define IterationCount: infinite;
@define AnimationDelay: 0s;
.Headline1 {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  /*text-transform: uppercase;*/
  text-overflow: clip;

  box-shadow: #00000000 -1px -1px 8px 0.3;

  font-weight: bold;
  font-size: 33px;
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  color: White;

  text-shadow: 2px 2px 8px 3.0 #333333b0;

  
}

.SN {
  width: 510px;
  height: 60px;
  flow-children: down;
  margin-left: 10px;
  text-align: left;
  padding-left: 70px;

  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: left 10px top -3px;
}

#VK {
  background-image: url("file://{images}/custom_game/loading_screen/vk.png");
}

#TWITTER {
  background-image: url("file://{images}/custom_game/loading_screen/twitter.png");
}

#SocialNetworks
{
  flow-children: down;
  vertical-align: bottom;
  width: 750px;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 35px;
}

#AlikVirg {
   flow-children: right;
   height: 60px;
}

#GetModels {
  flow-children: down;
}

.SkypeLogo {
  width: 40px;
  height: 40px;

  margin-left: 170px;

  horizontal-align: center;
}

.RoleRoot
{
  width: 100%;
  height: 50px;
}

#RoleName
{
  font-size: 30px;
  color: White;

  horizontal-align: center;
  vertical-align: middle;
}

#Developers
{
  padding: 5px;
  margin-left: 20px;
  margin-top: -100px;

  horizontal-align: left;
  vertical-align: center;

  flow-children: down;
}

.avatar
{
  width: 48px;
  height: 48px;

  margin-top: 2px;
  margin-bottom: 2px;
}

.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
  background-color: black;
/*    overflow: clip;*/
}

#PlaceholdersRoot
{

}

#Placeholders
{
  flow-children: right;
}

.PlaceholderSmall
{
  width: 270px;
  height: 150px;
}

.Placeholder
{
  width: 405px;
  height: 225px;
}

#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 74px;
  flow-children: right;
}

#AddonTitle
{
  margin-bottom: 90px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
}

.TitleBackground
{
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.Background
{
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.Petrosyan
{
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;

  animation-name: gamemode_anim_petrosyan;
  animation-delay: AnimationDelay;
  animation-duration: 90s;
  animation-timing-function: TimingFunc;
  animation-iteration-count: 1;
}

.Smoke1
{
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: 100% 100%;

  animation-name: gamemode_anim_first;
  animation-delay: AnimationDelay;
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}
.Smoke2
{
  background-repeat: repeat-x;
  background-position: -1920px 0%;
  background-size: 100% 100%;

  animation-name: gamemode_anim_second;
  animation-delay: AnimationDelay;
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}

#CustomBg
{
  margin: 0px 0px 0px 0px;
}

#gamemode
{
}

@keyframes 'gamemode_anim_first'
{
  0%
  {
    transform: translateX( 0px ) translateY( 0px );
  }

  100%
  {
    transform: translateX( 1920px ) translateY( 0px );
  }
}

@keyframes 'gamemode_anim_second'
{
  0%
  {
    transform: translateX( -1920px ) translateY( 0px );
  }

  100%
  {
    transform: translateX( 0px ) translateY( 0px );
  }
}

@keyframes 'gamemode_anim_petrosyan'
{
  0%
  {
    transform: translateX( -200px ) translateY( 0px );
  }

  100%
  {
    transform: translateX( 0px ) translateY( 0px );
  }
}