.LumberBase{
	horizontal-align: center;
    vertical-align: top;

    margin-left: 200px;
}

.GoldText{
	width: 125px;
	height: 30px;
  	line-height: 25px;

  	border-style: solid;
    border-right-width: 10px;

	margin-top: 5px;
	margin-left: 400px;

	font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #000000;

    border-radius: 6px;

	text-transform: uppercase;

	text-align: right;
    vertical-align: center;
}

.LumberText{
	width: 125px;
	height: 30px;
  	line-height: 25px;

  	border-style: solid;
    border-right-width: 10px;

	margin-top: 5px;
	margin-left: 600px;

	font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #000000;

    border-radius: 6px;

	text-transform: uppercase;

	text-align: right;
    vertical-align: center;
}

.FoodText{
	width: 125px;
	height: 30px;
  	line-height: 25px;

  	border-style: solid;
    border-right-width: 10px;

	margin-top: 5px;
	margin-left: 800px;

	font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #000000;

    border-radius: 6px;

	text-transform: uppercase;

	text-align: right;
    vertical-align: center;
}
