@define animDuration: 1.75s;


#Ad {
  margin-left: 445px;
  margin-top: 100px;

  width: 330px;
  height: 75px;

  border-radius: 5px;

  background-color: #000000bb;

  box-shadow: fill #00000080 4px 4px 8px 0px;

  transition: transform 0.25s linear 0.0s;
}

#AdLabel {
    align: center center;
    color: #ffffffbb;
    font-weight: bold;
    font-size: 24px;
}

#Ad:hover { 
  transform: scale3d(1.07, 1.07, 1.07);
}

.GameSetup
{
    width: 100%;
    height: 100%;

    flow-children: right;
}

#HostSettings
{
    width: 200px;
    height: 300px;

    horizontal-align: right;
}

#TeamSelectContainer {
    width: 600px;
    height: 100%;

    horizontal-align: right;
    flow-children: down;
}

#AppBar {
    width: 100%;
    height: 130px;
    flow-children: down;
}

#WorkArea
{
    width: 100%;
    height: 100%;

    flow-children: right;
}

#PlayersPanel {
    height: 100%;
    width: 45%;

    flow-children: down;
}

#PlayersListContainer {
    width: 100%;

    flow-children: down;
}

/*          PlayerInfo                          */
.TeamSelectPlayer
{
    width: 100%;
    height: 40px;

    flow-children: right;
    vertical-align: top;

    padding: 5px;
}

.TeamSelectPlayer.transition
{
    transition-property: position;
    transition-duration: animDuration;
}

.TeamSelectPlayer.upPaper
{
    animation-duration: animDuration;
    animation-timing-function: ease-in-out;
    animation-name: PaperUp;
}

@keyframes 'PaperUp'
{
    0%
    {
        border-radius: 0px;
        box-shadow: fill #000000ff 0px 0px 0px 0px; 
    }

    10%
    {
        border: 1px solid #00000040;

        border-radius: 2px;
        box-shadow: fill #000000ff 0px 2px 2px 0px;
    }

    90%
    {
        border: 1px solid #00000040;

        border-radius: 2px;
        box-shadow: fill #000000ff 0px 2px 2px 0px;
    }
    
    100%
    {
        border-radius: 0px;
        box-shadow: fill #000000ff 0px 0px 0px 0px; 
    }
}

.TeamSelectPlayer.hover
{
}

.TeamSelectPlayer.hover:hover
{
    background-color: #616161;
}

.TeamSelectPlayer.hover:active
{
    sound: "ui_rollover_micro";
}

DOTAAvatarImage
{
    width: 32px;
    height: 32px;

    background-color: black;
    vertical-align: middle;
}

#Indicators
{
    width: 32px;
    height: 32px;
}

#Petro {
    width: 32px;
    height: 32px;

    visibility: collapse;
}

#Petro.visible {
    visibility: visible;
}

#PetroPrefer {
    width: 32px;
    height: 32px;

    opacity: 0.2;
    visibility: collapse;
}

#PetroPrefer.visible {
    visibility: visible;
}

#PlayerIsHostPanel
{   
    background-image: url( "file://{images}/icon_star.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: noclip;
    width: 24px;
    height: 24px;
    visibility: collapse;
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    visibility: collapse;
}

.TeamSelectPlayer.player_has_host_privileges #PlayerIsHostPanel
{
    visibility: visible;
}

#PlayerName
{
    vertical-align:middle;
    margin: 3px;
    width: fill-parent-flow( 1 );
    white-space: nowrap;

    font-weight: bold;
    font-size: 16px;
}

#TeamsListContainer 
{
    width: 100%;
    
    padding: 5px;
    flow-children: down;
}

/*          TeamInfo                          */
.TeamContainer
{
    margin: 5px;
    width: 100%;

    visibility: collapse;

    flow-children: down;
}

.TeamContainer.show
{
    visibility: visible;
}

#TeamPanelHeader
{
    height: 60px;
    width: 100%;

    flow-children: right;
}

#TeamNameLabel
{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}

#TeamNameLabel,
#TeamLogo
{
    margin-left: 5px;
    vertical-align: middle;
}

#PlayerList
{
    width: 100%;
    flow-children: down;
}

#VotePanel {
    height: 100%;
    width: 55%;

    padding: 5px;
    flow-children: down;
    overflow: squish scroll;
}

.VoteContainer {
    margin: 5px;
    width: 100%;

    flow-children: down;
}

#VoteHeader {
    width: 100%;

    padding: 5px;
}

.VoteQuestionLabel {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    
    text-align: center;
    vertical-align: middle;
}

.show_vote
{
    sound: "ui_topmenu_activate";

    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-name: ShowVote;
}

@keyframes 'ShowVote'
{
    0%
    {
       transform: translatey( -30px );
        opacity: 0;
    }

    70%
    {
        transform: translatey( 0px );      
    }

    100%
    {
        opacity: 1;
    }
}

.FlatLabel {
    font-weight: bold;
    font-size: 20px;

    horizontal-align: center;
}

#VoteVariants {
    width: 100%;
    flow-children: down;    
}

.FlatButton {
    width: 100%;
    height: 36px;
    
    padding: 8px;
}

.FlatButton.selected {
    sound: "ui_rollover_micro";
    background-color: #607D8B;
}

.FlatButton.wrong {
    visibility: collapse;
}

#GameModeNameLabel 
{
    margin-left: 30px;
    margin-top: 16px;
    font-size: 32px;
	text-transform: uppercase;
}

#MapInfoLabel
{
    margin-left: 30px;

    color: #a9aaaa;
	text-transform: uppercase;
}

#StartGameCountdownTimer
{
	width: 170px;
	margin-top: -65px;
    margin-right: 15px;

    horizontal-align: right;
}

#TeamSelectTimer
{
	margin-top: 8px;
    font-size: 40px;
    color: #CCCCCC;
	horizontal-align: center;
}

#StartGameCountdownTimer.countdown_inactive #TeamSelectTimer 
{
    opacity: 0.0;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 60px;
	height: 60px;
	margin-top: 2px;
	horizontal-align: center;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#TimerLabelBox 
{
	margin-top: 70px;

    height: 20px;
    width: 100%;
}

#TimerLabelAutoStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.auto_start #TimerLabelAutoStart 
{
    visibility: visible;
}

#TimerLabelGameStart
{
    color: #a9aaaa;
    font-size: 20px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.forced_start #TimerLabelGameStart 
{
    visibility: visible;
}

#StartGameCountdownTimer.countdown_inactive #TimerBg,
#StartGameCountdownTimer.countdown_inactive #TimerRing,
#StartGameCountdownTimer.countdown_inactive #TimerLabelAutoStart,
#StartGameCountdownTimer.countdown_inactive #TimerLabelGameStart,
{
    opacity: 0;
}

