.PreGameVote_container{
	vertical-align:middle;
	margin-left:1px;
	flow-children: down;
}
.VoteItem{
	vertical-align:middle;
	height:70px;
	width:500px;
	background-color:black;
	opacity:0.87;
	flow-children: down;
	
	margin-bottom:10px;
	padding: 5px 5px 5px 5px;
}
.VoteRadio{
	flow-children: right;
}
.VoteRadio RadioButton{
	margin-left:15px;
	margin-top:5px;
	background-color:grey;
	opacity:0.77;
	height:50px;
	width:90px;
	
	vertical-align:middle;
}

.VoteRadio RadioButton:hover{
	background-color:brown;
}
.VoteRadio RadioButton:active{
	background-color:white;
}
.VoteRadio RadioButton:selected{
	background-color:green;
}

#SubmitButton{
	background-color:red;
	opacity:0.77;
	height:30px;
	width:80px;
}

#SubmitButton:hover{
	background-color:brown;
}
#SubmitButton:active{
	background-color:white;
}
#SubmitButton:disabled{
	background-color:grey;
}
.SubmitPressed{

}

.winner{
	border:4px solid red;
}