.ContextButton
{
	width: 100px;
	height: 36px;
}

.MenuLabel
{
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    
    text-align: center;
    vertical-align: middle;
}

.Container
{
	padding: 5px;
}