.TimeOfDay
{
    width: 110px;
    height: 110px;
    
    margin-left: 1300px;
    horizontal-align: left;
}

.AspectRatio4x3 .TimeOfDay
{
    margin-left: 1180px;
}

.AspectRatio5x4 .TimeOfDay
{
    margin-left: 1080px;
}

#TimeOfDayImage
{
    width: 75%;
    height: 75%;

    margin-top: -30%;
    margin-left: -5px;

    horizontal-align: center;
}


#TimeOfDayBorderImage
{
    width: 100%;
    height: 58%;
}

#Time
{
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;

    text-shadow: 0px 0px 3px 4 #000000ff;

    horizontal-align: center;

    margin-top: 10px;
}

#PetroTime
{
    width: 38px;
    height: 38px;

    margin-left: -6px;
    margin-bottom: 40%;

    vertical-align: bottom;
    horizontal-align: center;

    visibility: collapse;
}