.TimeOfDay
{
    width: 110px;
    height: 110px;
    horizontal-align: right;
    
    margin-right: 600px;
    
/*  
    тк убрал топскорбоард нужно централизовать время
    margin-left: 1300px;
    horizontal-align: left;
*/
}

.AspectRatio4x3 .TimeOfDay
{
    margin-left: 1180px;
}

.AspectRatio5x4 .TimeOfDay
{
    margin-left: 1080px;
}

#TimeOfDayImage
{
    width: 75%;
    height: 75%;

    margin-top: -30%;
    margin-left: -5px;

    horizontal-align: center;
}


#TimeOfDayBorderImage
{
    width: 100%;
    height: 58%;
}

#Time
{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
     horizontal-align: center;
    text-shadow: 1px 1px 1px 2.0 #000;
/*поднял выше цифры в часах и сделал их крупнее*/
/*    margin-top: 10px;*/
}

#PetroTime
{
    width: 38px;
    height: 38px;

    margin-left: -6px;
    margin-bottom: 40%;

    vertical-align: bottom;
    horizontal-align: center;

    visibility: collapse;
}