#HealthAndMana,
#RespawnPanel
{
	width: 93%;
	height: 40px;

	margin-left: 17px;
	margin-top: 11px;

	horizontal-align: left;
}

.AspectRatio4x3 #HealthAndMana,
.AspectRatio4x3 #RespawnPanel
{
	margin-left: 14px;
	width: 95%;
}

.AspectRatio5x4 #HealthAndMana,
.AspectRatio5x4 #RespawnPanel
{
	margin-left: 14px;
	width: 95%;
}

#HealthAndMana.dead
{
	visibility: collapse;
}

#RespawnPanel
{
	visibility: collapse;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), color-stop( 0.1, #670202 ), color-stop( 0.3, #a90505 ), color-stop( 0.7, #a90505 ), color-stop( 0.9, #670202 ), to( #000000 ) );		
}

#RespawnPanel.dead
{
	visibility: visible;
}

.BarLabel
{
	horizontal-align: center;
	vertical-align: center;

	font-weight: bold;
	
	color: #FFFFFF;
	z-index: 3;	
}

#RespawnTimer
{
	font-weight: thin;

	color: #ededed;
	visibility: collapse;
}

#RespawnTimer.dead
{
	visibility: visible;
}

#HealthCount
{
	margin-top: -8px;

	font-size: 20px;
}

#ManaCount
{
	margin-top: 25px;

	font-size: 14px;
}

#Health
{
	width: 100%;
	height: 32px;

	margin-bottom: 14px;
	vertical-align: bottom;
	horizontal-align: left;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #31c908 ), color-stop( 0.3, #186104 ), color-stop( 0.7, #186104 ), color-stop( 0.9, #155304 ), to( #000000 ) );
}

#Health.enemy
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #d00b0b ), color-stop( 0.3, #880909 ), color-stop( 0.7, #880909 ), color-stop( 0.9, #5b0606 ), to( #000000 ) );
}

#Mana
{
	width: 100%;
	height: 13px;

	vertical-align: bottom;
	horizontal-align: left;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #1037ff ), color-stop( 0.5, #0022d1 ), color-stop( 0.7, #0022d1 ), color-stop( 0.9, #01178a ), to( #000000 ) );
}

#HealthRegen,
#ManaRegen
{
	vertical-align: bottom;
	horizontal-align: right;

	font-size: 12px;
	visibility: collapse;
}

#HealthRegen
{
	margin-bottom: 20px;
}

#HealthRegen.visible,
#ManaRegen.visible
{
	visibility: visible;
}

#BuffPanel
{
	horizontal-align: left;
	vertical-align: top;

	margin-top: -40px;
	z-index: 3;
}