#InfoPanel
{
	flow-children: right;

	vertical-align: bottom;

	margin-bottom: 20px;
	margin-left: 20px;
}

#Info
{
	width: 100px;
	height: 100px;
}

.AspectRatio4x3 #Info
{
	margin-right: 12px;
	width: 50px;
}

#ArmorImage,
#SpeedImage
{
	width: 50px;
	height: 50px;

	vertical-align: bottom;
	margin-bottom: 10px;
}

#SpeedImage
{
	margin-left: 50px;
}

#DamageImage
{
	width: 150px;
	height: 64px;

	vertical-align: top;
	horizontal-align: center;

	margin-top: -10px;
	margin-right: -55px;
	margin-left: -30px;
}

.InfoLabel
{
	horizontal-align: center;
	vertical-align: center;

	color: #ffffff;
	z-index: 3;	
}

#Damage
{
	margin-top: -50px;
}

#Speed,
#Armor
{
	margin-top: 80px;
}

#Speed
{
	margin-left: 45px;
}

#Armor
{
	margin-left: -50px;
}


#Stats
{
	width: 100px;
	height: 100px;
}

.AspectRatio4x3 #Stats
{

}

#Strength,
#Agility,
#Intelligence
{
	vertical-align: top;
	margin-left: 30px;
	margin-top: 10px;
}

#Agility
{
	margin-top: 40px;
}

#Intelligence
{
	margin-top: 70px;
}

#StrengthImage,
#AgilityImage,
#IntelligenceImage
{
	width: 35px;
	height: 35px;

	horizontal-align: left;
}

#AgilityImage
{
	margin-top: 32px;
}

#IntelligenceImage
{
	margin-top: 64px;
}

#AbilitiesContainer
{
	vertical-align: bottom;
	height: 130px;
}