.PortraitLabel
{
	color: #FFFFFF;
	z-index: 3;	
}

#HeroName
{
	horizontal-align: center;

	margin-top: 63px;
	margin-left: 10px;
}

.AspectRatio4x3 #HeroName
{
	margin-left: -50px;
}

.AspectRatio5x4 #HeroName
{
	margin-left: -40px;
	margin-top: 60px;	
}

.AspectRatio16x10 #HeroName
{
	margin-left: -35px;	
}

#HeroLevel
{
	horizontal-align: center;
	vertical-align: bottom;
	
	font-weight: bold;
	margin-left: -140px;
	margin-bottom: 2px;		
}

.AspectRatio4x3 #HeroLevel,
.AspectRatio5x4 #HeroLevel
{
	margin-right: 37px;
}

.AspectRatio16x10 #HeroLevel
{
	margin-right: 32px;	
}

#ExperienceBack
{
	width: 120px;
	height: 4%;

	horizontal-align: center;
	vertical-align: bottom;

  	border-style: solid;
    border-radius: 3px;

	margin-bottom: 8px;
	margin-left: 19px;
	background-color: #000000;
	z-index: 1;	
}

.AspectRatio4x3 #ExperienceBack,
.AspectRatio5x4 #ExperienceBack,
.AspectRatio16x10 #ExperienceBack
{
	width: 110px;
	margin-right: 52px;
	margin-bottom: 6px;
}

#Experience
{
	width: 0%;
	height: 100%;

	horizontal-align: left;

  	border-style: solid;
    border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e3c416 ), to( #b79d0d ) );
	z-index: 2;	
}

#ExperienceCount
{
	font-size: 14px;
	horizontal-align: center;
	vertical-align: bottom;

	font-weight: bold;

	margin-bottom: 4px;
	margin-left: 25px;
}

.AspectRatio4x3 #ExperienceCount,
.AspectRatio5x4 #ExperienceCount,
.AspectRatio16x10 #ExperienceCount,
{
	margin-right: 45px;
	margin-bottom: 3px;
}

#PortraitBackground
{
	background-image: url("file://{images}/custom_game/hud_skins/default/actionpanel/portrait_wide.png");
	z-index: 1;
}

.AspectRatio4x3 #PortraitBackground,
.AspectRatio5x4 #PortraitBackground,
.AspectRatio16x10 #PortraitBackground
{
	background-image: url("file://{images}/custom_game/hud_skins/default/actionpanel/portrait.png");
}

#PortraitModel
{
	width: 150px;
	height: 210px;

	margin-left: 80px;
	background-color: #808080;	
	z-index: 0;	
}

.AspectRatio4x3 #PortraitModel,
.AspectRatio16x10 #PortraitModel
{
	width: 130px;
	margin-left: 20px;	
}

.AspectRatio5x4 #PortraitModel
{
	width: 130px;
	height: 200px;

	margin-left: 20px;	
}

#LevelUpButton
{
	border: 1px solid black;
    background-color: #c4a529;
	width: 135px;
	height: 30px;

	vertical-align: top;

	margin-top: 30px;
	margin-left: 85px;

	visibility: collapse;
	z-index: 2;
}

.AspectRatio4x3 #LevelUpButton,
.AspectRatio16x10 #LevelUpButton
{
	margin-left: 20px;		
	margin-right: 70px;	
}

.AspectRatio5x4 #LevelUpButton
{
	margin-left: 20px;
}

.could_level_up #LevelUpButton 
{
	visibility: visible;
}

#LevelUpButton:hover
{
    background-color: #9e8b2c;
}

#LevelUpButtonInset
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
	margin: 1px;
}

#LevelUpButton:hover #LevelUpButtonInset
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#LevelUpButton Label
{
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: center;
	horizontal-align: center;
}