.BuildingHelperBase
{
  width: 100%;
  height: 100%;
}

#GNV
{
  margin-left: 200px;
  margin-top: 10px;

  flow-children: down;
}

#GNVButton
{
  width: 20px;
  height: 20px;

  background-color: #151515;
}

#GNVButton:hover
{
	brightness: 1.5;
}

#GNVButton:active
{
	brightness: 0.3;
}

#GNVMenu
{
	width: 600px;
  	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
  	border: 2px solid #32383677;

  	margin-top: 10px;
  	visibility: collapse;
}

.SectionHeaderLine
{
	height: 2px;
	width: 100%;
	background-color: #3b3f40;
	margin: 2px 0px 12px 0px;
}

#columns
{
	width: 100%;
	flow-children: right;	
}

#leftCol
{
	width: 300px;

	padding: 5px;
	flow-children: down;
}

#rightCol
{
	width: 300px;

	padding: 5px;	
	flow-children: down;
}

#GNVMenu,
#GNVCheckboxes,
#GNVValues,
#ColorPickerPanel
{
  flow-children: down;
}

// Sliders
#GNVValues
{
	width: 100%;
}

.Slider
{
	width: 100%;
	height: 80px;
	margin: 00px 10px 0px 10px;
}

// Buttons
#GNVMainButtons
{
	width: 100%;
	vertical-align: bottom;
	flow-children: right;	
}

// Picker
#ColorPickerPanel
{
	width: 100%;
	flow-children: down;
}

.CurcolorPanel
{
	width: 100%;
	padding: 5px;

	flow-children: right;
}

#ColorsList
{
	width: 215px;
}

#CurColor
{
	width: 50px;
	height: 30px;

	margin: 5px;

	vertical-align: center;
}

#SaveGNVConfig,
#CancelGNVConfig
{
	margin: 5px;
}

.GNVConfigLabel
{
	font-size: 15px;
	vertical-align: center;
}